{# def #}
<nav class="Nav">
  <Logo/>
  <ul class="no-bullets">
    {% for item in nav[1:] %}
      <li{% if item.active %} class="active"{% endif %}>
        <a href="{{ item.href }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
