<Layout title="Lost Artefacts">
<div class="Watermark">
  <h2>Who</h2>
  <p>We are a small community of developers who share a deep love for the
  classic Tomb Raider titles. Our team is dedicated to creating and maintaining
  freeware fanmade projects that pay homage to the incredible adventures of
  Lara Croft.</p>

  <h2>Why</h2>
  <p>Lost Artefacts was born out of a recognition by the team of a significant
  issue within our community – fragmentation. It had become increasingly
  difficult for the average person to discover and keep track of the various
  projects and initiatives the fan base was working on. Moreover, these
  projects were often developed independently, resulting in a lack of
  collaboration. To address that and foster a stronger sense of teamwork among
  developers, we established Lost Artefacts. Its primary objective is to unite
  development and provide fans with clear and concise information about
  software projects that wish to be a part of this initiative.</p>

  <h2>Joining us</h2>
  <p>If you're interested in becoming a part of our team, feel free to come
  join us on Discord. To be eligible, we request that any external projects
  seeking to join our initiative are hosted on GitHub and transferred to the
  LostArtefacts organization. The maintainers will retain full ownership, and
  our only expectation is that you and your collaborators maintain a respectful
  and positive attitude when interacting with the players and other people.
  This helps create a more supportive community, which is our ultimate
  goal.</p>
</div>
</Layout>
