{# def title #}
<Layout title={ title }>
  <ProjectCard variant="vertical" title={ title } image="static/tr2x/logo.svg">
    <ul class="no-bullets">
      <li>
        <a href='https://github.com/lostartefacts/tr2x'>
          <IconGithub/>
          GitHub repository
        </a>
      </li>
    </ul>
  </ProjectCard>

  WIP
</Layout>
