{# def title #}
<Layout title={ title }>
  <Breadcrumbs links={[
    { "title": "Home", "href": "index.html" },
    { "title": "Contact", "href": "contact.html" },
  ]}/>

  <div class="Contact">
    <aside>
      <img src="static/logo.png"/>
    </aside>

    <div>
      <h2>Useful links</h2>

      <ul class="no-bullets">
        <li>
          <a href="">
            <IconGithub/>
            GitHub repository
          </a>
        </li>

        <li>
          <a href="https://discord.gg/XTDjd3TpdF">
            <IconDiscord/>
            Discord server
          </a>
        </li>
      </ul>

      <h2>The team</h2>
      <ul>
        <li><a href="https://github.com/rr-">rr-</a></li>
        <li><a href="https://github.com/Lahm86">Lahm</a></li>
        <li><a href="https://github.com/walkawayy">walkawayy</a></li>
        <li><a href="https://github.com/DanzaG">Danza</a></li>
      </ul>
    </div>
  </div>
</Layout>
