{# def title #}
<Layout title={ title }>
  <Breadcrumbs links={[
    { "title": "Home", "href": "index.html" },
    { "title": "Projects", "href": "projects.html" },
    { "title": "TR1X", "href": "tr1x.html" },
  ]}/>

  <ProjectLogo title="TR1X" image="static/tr1x/logo.svg"/>

  <p>This is an open source implementation of the classic Tomb Raider I game (1996), made by reverse engineering the TombATI / GLRage variant of the original game and replacing proprietary audio/video libraries with open source variants.</p>

  <h2>Useful links</h2>

  <ul class="no-bullets">
    <li>
      <a href='https://github.com/LostArtefacts/TR1X/releases/latest'>
        <IconDownload/>
        Download
      </a>
    </li>

    <li>
      <a href='https://github.com/lostartefacts/tr1x'>
        <IconGithub/>
        GitHub repository
      </a>
    </li>

    <li>
      <a href='https://github.com/lostartefacts/tr1x/tree/master/CHANGELOG.md'>
        <IconNotes/>
        Changelog
      </a>
    </li>

    <li>
      <a href='tr1x_changes.html'>
        <IconBook/>
        List of changes over OG
      </a>
    </li>
  </ul>

  <h2>Showcase</h2>

  <p>Some of the more important features and improvements over the original game experience.</p>

  {% do attrs.set(showcase=[
    {
      "caption": "Restored braid",
      "image": "static/tr1x/braid.jpg",
    },
    {
      "caption": "Enemy health bar and UI scaling",
      "image": "static/tr1x/enemy_health_bar_and_scaling.jpg",
    },
    {
      "caption": "3D pickups",
      "image": "static/tr1x/3d_pickups.jpg",
    },
    {
      "caption": "Improved stats",
      "image": "static/tr1x/compass_stats.jpg",
    },
    {
      "caption": "Customizable draw distance",
      "image": "static/tr1x/draw_distance.webp",
    },
    {
      "caption": "Fly cheat",
      "image": "static/tr1x/fly_cheat.jpg",
    },
    {
      "caption": "Free camera",
      "image": "static/tr1x/free_camera.jpg",
    },
    {
      "caption": "PS1 UI and new graphics options",
      "image": "static/tr1x/ps1_ui_and_gfx.jpg",
    }
  ]) %}

  <Showcase items={attrs.showcase}/>
</Layout>
