{# def items #}
<ul class="Showcase no-bullets">
  {% for item in items %}
    <li>
      <a href="{{ item.image }}">
      <figure>
        <img src="{{ item.image }}" alt="{{ item.caption }}"/>
        <figcaption>{{ item.caption }}</figcaption>
      </figure>
      </a>
    </li>
  {% endfor %}
</ul>
